      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.routers.{{ vikunja_service_name }}-http.service={{ vikunja_service_name }}"
      - "traefik.http.routers.{{ vikunja_service_name }}.service={{ vikunja_service_name }}"
      - "traefik.http.routers.{{ vikunja_service_name }}-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.{{ vikunja_service_name }}.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.services.{{ vikunja_service_name }}.loadbalancer.server.scheme=http"
      - "traefik.http.routers.{{ vikunja_service_name }}-http.entrypoints=http"
      - "traefik.http.routers.{{ vikunja_service_name }}-http.middlewares={% if https_only == True %}redirect@file, {% else %}{% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.{{ vikunja_service_name }}.entrypoints=https"
      - "traefik.http.routers.{{ vikunja_service_name }}.middlewares={% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.{{ vikunja_service_name }}.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.{{ vikunja_service_name }}.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.{{ vikunja_service_name }}.tls.domains[0].main={{ service_domain }}"
{% else %}
      - "traefik.http.routers.{{ vikunja_service_name }}.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.{{ vikunja_service_name }}.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.{{ vikunja_service_name }}.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.{{ vikunja_service_name }}-tor-http.entrypoints=http"
      - "traefik.http.routers.{{ vikunja_service_name }}-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
